.navbar {
    display: flex;
    justify-content: center;
    padding: 0.5rem;
  }
  
  .link {
    color: rgb(68, 66, 66);
    font-size: 1.5rem;
    text-decoration: none;
    margin: 0 0.5rem;
  }
  
  .link:hover {
    color: rgb(63, 61, 61);
    font-weight: bold;
  }
  
  .brand {
    padding: 0.5rem;
  }

  .topHeader {

    border-bottom:solid 1px rgb(150, 146, 146);
    display: flex;
    justify-content: space-between;
  }